
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/ExoGraphGUI/.vs/*
library/ExoGraphGUI/ExoGraphGUI/bin/*
library/ExoGraphGUI/ExoGraphGUI/obj/*

# ignore PowerShell Studio MetaData
ExoGraphGUI/ExoGraphGUI.psproj
ExoGraphGUI/ExoGraphGUI.psproj.bak
ExoGraphGUI/ExoGraphGUI.psprojs
ExoGraphGUI/ExoGraphGUI.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*